<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8" v-bind:key="g.id" v-for="(g, index) in items">
                <div class="card">
                    <div>
                        <span class="card mb-4 shadow-sm">{{ g.question }}</span>
                    </div>

                    <div>
                        <span class="card mb-4 shadow-sm">{{ g.answer }}</span>
                        <button class="btn btn-primary" @click="$emit('showModal', g,index)">Answer/Edit</button>
                        <button class="btn btn-danger" @click="deleteQuestion(g)">Delete</button>
                        <span class="small float-right">{{ g.created_at }}</span>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</template>

<script>
    import User from '../api/User'

    export default {
        props: {
            items: Array,
        },
        data() {
            return {
                answer: null
            }
        },
        methods: {
            deleteQuestion(g) {
                User.delete(g.id).then(response => {
                    if (response.status === 200) {
                        let item = this.items.indexOf(g)
                        this.items.splice(item, 1)
                    }
                });
            }
        }
    }
</script>
