<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8" v-bind:key="g.id" v-for="g in items">
                <div class="card">
                    <div class="card-header">{{ g.question }}
                        <div class="small float-right">{{ g.created_at }}</div></div>

                    <div class="card-body">
                        {{ g.answer }}
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            items: {
                type: Array
            },
        }
    }
</script>
