<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <textarea type="text" rows="4" cols="97%" class="" v-model="question.question" placeholder="Введите вопрос"
                          value="" required=""></textarea>
                <button type="button" class="btn btn-block btn-primary" @click="sendQuestion">Send question</button>
            </div>
        </div>
    </div>
</template>

<script>
    import User from "../api/User";

    export default {
        data: function () {
            return {
                question: {
                    question: null
                }
            };
        },
        methods: {
            sendQuestion() {
                User.sendQuestion(this.question)
            }
        }
    }
</script>
