<template>
    <div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8" v-for="g in items">
                <div class="card">
                    <div>
                        <span class="card mb-4 shadow-sm">{{ g.question }}</span>
                    </div>

                    <div>
                        <span class="card mb-4 shadow-sm" v-if="g.answer">{{ g.answer }}</span>
                        <button class="btn btn-primary" @click="$emit('showModal', g)">Answer/Edit</button>
                        <button class="btn btn-danger" @click="$emit('deleteQuestion', g)">Delete</button>
                        <span class="small float-right">{{ g.created_at }}</span>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    export default {
        props: {
            items: Array,
        },
    }
</script>
