<template>
    <div>
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <textarea rows="3" cols="60" v-model="answer"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="sendAnswer()">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <admin-item-component :items="guestbookitems" v-on:modal="showModal" v-on:delete="deleteQuestion"></admin-item-component>
    </div>
</template>



<script>
    export default {
        data: function () {
            return {
                guestbookitems: [],
                answer: '',
                id: 0,
            };
        },
        created() {
            axios.get('/all')
                .then(response => {
                    if (response.status == 200) {
                        this.guestbookitems = response.data;
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        methods: {
            sendAnswer() {
                axios.put('/answer', {
                    id: this.id,
                    answer: this.answer,
                })
                    .then((response) => {
                        if (response.status == 500) {
                            alert(response.data)
                        }
                        if (response.status == 200) {
                            $('#modal').modal('hide');
                            document.location.reload(true);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            showModal(g) {
                $('#modal').modal('show');
                this.answer = g.answer;
                this.id = g.id;
            },
            deleteQuestion(g){
                axios.delete('/delete/'+g.id, {
                })
                    .then((response) => {
                        if (response.status == 500) {
                            alert(response.data)
                        }
                        if (response.status == 200) {
                            document.location.reload(true);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    }
</script>
