<template>
    <guestbook-component :items="guestbookitems"></guestbook-component>
</template>

<script>
    export default {
        data: function () {
            return {
                guestbookitems: [],
            };
        },
        created() {
            axios.get('/index')
                .then( response => {
                    if(response.status == 200){
                        this.guestbookitems = response.data;
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
    }
</script>
