<template>
    <div>
        <div id="loginForm" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">EMail</label>
                                <div class="col-md-6">
                                    <input v-model="loginForm.email" id="email" type="email" class="form-control"
                                           name="email" required autocomplete="email" autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input v-model="loginForm.password" id="password" type="password"
                                           class="form-control" name="password" required
                                           autocomplete="current-password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button @click="login" type="button" class="btn btn-primary">Login</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="/">Laravel</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li v-if="isLoggenIn" class="nav-item">
                            <a class="btn btn-primary" href="/home">Questions</a>
                        </li>
                        <li v-if="!isLoggenIn" class="nav-item">
                            <button @click="showLoginForm" class="btn btn-primary">Login</button>
                        </li>
                        <li v-if="isLoggenIn" class="nav-item">
                            <button @click="logout" class="btn btn-primary">Logout</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isLoggenIn: localStorage.getItem('isLoggedIn'),
                loginForm: {
                    email: '',
                    password: ''
                }
            }
        },
        methods: {
            showLoginForm() {
                $('#loginForm').modal('show');
            },
            login() {
                axios.get('/sanctum/csrf-cookie').then(response => {
                    axios.post('/login', this.loginForm).then(response => {
                        localStorage.setItem('isLoggedIn','true')
                        document.location.replace('home')
                    })
                });
            },
            logout(){
                axios.post('/logout').then(response => {
                    localStorage.removeItem('isLoggedIn')
                    document.location.replace('\\')
                })
            }
        }
    }
</script>


<style>
    a,button {
        margin: 5px;
    }
</style>
