<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <textarea type="text" rows="4" cols="97%" class="" v-model="question" placeholder="Введите вопрос" value="" required=""></textarea>
                <button type="button" class="btn btn-block btn-primary" @click="sendQuestion">Отправить</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                question: '',
            };
        },
        methods: {
            sendQuestion() {
                if (this.question !== '') {
                    axios.post('/question', {
                        question: this.question,
                    })
                    .then((response) => {
                        if (response.status == 500) {
                            alert(response.data)
                        }
                        if (response.status == 200) {
                            this.question = '';
                            alert(response.data)
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }else{
                    alert('Ask a question');
                }
            }
        }
    }
</script>
