<template>
    <div class="home">
        <question></question>
        <guestbook v-if="guestbook" :items="guestbook"></guestbook>
    </div>
</template>

<script>
    import Guestbook from "../components/Guestbook";
    import Question from "../components/Question";
    import User from "../api/User";

    export default {
        name: 'Home',
        components: {Guestbook, Question},
        data() {
            return {
                guestbook: null,
            }
        },
        mounted() {
            User.getIndex().then(response =>
                this.guestbook = response.data
            );
        }
    }
</script>
