<template>
    <div>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">EMail</label>
                            <div class="col-md-6">
                                <input v-model="loginForm.email" id="email" type="email" class="form-control"
                                       name="email" required autocomplete="email" autofocus>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input v-model="loginForm.password" id="password" type="password"
                                       class="form-control" name="password" required
                                       autocomplete="current-password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button @click="login" type="button" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import User from '../api/User'

    export default {
        data() {
            return {
                loginForm: {
                    email: '',
                    password: '',
                    device_name: 'browser'
                }
            }
        },
        methods: {
            login(){
                User.login(this.loginForm)
                    .then(response =>
                        localStorage.setItem('token', response.data)
                    )
            }

        },
    }
</script>