<template>
    <div class="home">
        <div id="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <textarea rows="3" cols="60" v-model="answer.answer"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="sendAnswer()">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="user">role: {{ user.role }}</div>
        <admin-guestbook v-if="guestbook" :items="guestbook" v-on:showModal="showModal"></admin-guestbook>
    </div>
</template>

<script>
    import User from '../api/User'
    import AdminGuestbook from "../components/AdminGuestbook";

    export default {
        name: 'User',
        components: {AdminGuestbook},
        data() {
            return {
                user: null,
                guestbook: null,
                answer: {
                    answer: null,
                    id: null,
                },
                index: null
            }
        },
        mounted() {
            User.auth()
                .then(response =>
                    this.user = response.data
                );
            User.getAll().then(response =>
                this.guestbook = response.data
            );
        },
        methods: {
            showModal(g, index) {
                $('#modal').modal('show');
                this.answer.answer = g.answer;
                this.answer.id = g.id;
                this.index = index;
            },
            sendAnswer() {
                User.sendAnswer(this.answer).then(response => {
                    if (response.status === 200) {
                        let item = this.guestbook[this.index];
                        item.answer = this.answer.answer;
                        $('#modal').modal('hide');
                    }
                });
            },
        }
    }
</script>